.p-30 {
  padding: 30px;
}
.v-spacer-20 {
  margin-bottom: 20px;
}
.v-spacer-30 {
  margin-bottom: 30px;
}
.flex {
  display: flex;
}
.flex1 {
  flex: 1;
}
.capitalize {
  text-transform: capitalize;
}
.bold {
  font-weight: bold;
}
